
<style>
.content {
  max-width: 500px;
  margin: auto;
}

</style>
body {
    background-color: powderblue;
    <div class="content">
    <!-- Page content -->
    </div>

  }
  h1 {
    color: blue;
    font-family: monospace;
    font-size: 300%;
  }


